{% comment %}
  Platform widgets for X, Instagram, TikTok, and Imgur.
  Loaded once per page when those embeds are present.
{% endcomment %}
{% if content contains 'data-embed="twitter"' or content contains 'twitter-tweet' %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}
{% if content contains 'data-embed="instagram"' or content contains 'instagram-media' %}
<script async src="https://www.instagram.com/embed.js"></script>
{% endif %}
{% if content contains 'data-embed="tiktok"' or content contains 'tiktok-embed' %}
<script async src="https://www.tiktok.com/embed.js"></script>
{% endif %}
{% if content contains 'data-embed="imgur"' or content contains 'imgur-embed-pub' %}
<script async src="https://s.imgur.com/min/embed.js" charset="utf-8"></script>
{% endif %}
